ALTER TABLE DEMO.X_KIND
  DROP CONSTRAINT KIND_VATER_FK;


ALTER TABLE DEMO.X_KIND ADD (
  CONSTRAINT KIND_VATER_FK 
  FOREIGN KEY (VATER_ID) 
  REFERENCES DEMO.X_VATER (VATER_ID)
  DEFERRABLE INITIALLY DEFERRED);
